html, body {
  height: 100%; }

.mainContent {
  margin-bottom: 20px;
  width: 1270px; }

/*============Header=============*/
.mainNav {
  background-color: white;
  color: #333;
  height: 70px;
  margin-bottom: 0; }
  .mainNav .navbar-nav > li > a, .mainNav .navbar-brand {
    color: #333;
    font-size: 1.2em;
    line-height: 40px; }
    .mainNav .navbar-nav > li > a span, .mainNav .navbar-brand span {
      font-size: 13px;
      font-weight: 500; }
    .mainNav .navbar-nav > li > a .activeLink, .mainNav .navbar-brand .activeLink {
      border-bottom: 2px solid black;
      font-size: 17px; }
  .mainNav .navbar-brand {
    font-size: 32px; }
  .mainNav i {
    font-size: 20px; }

@media (min-width: 768px) {
  .navbar .navbar-brand {
    left: 15px; } }
.navbar-center {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  text-align: center;
  margin: auto;
  height: 100%; }

/*========Sub Header========*/
.subHeader {
  margin-bottom: 0;
  background-color: #f5f5f5; }

@media (min-width: 768px) {
  .subHeader ul {
    margin-left: 40px; }
    .subHeader ul li {
      margin-right: 5px; } }
.searchButton {
  position: relative;
  left: -9px;
  border-radius: 0; }

.navbar .navbar-nav > li > a .action {
  color: red; }

.navbar-form .form-control {
  width: 250px;
  line-height: 48px;
  border-radius: 0; }

/*===========ItemList=============*/
.itemList {
  margin-top: 25px; }

.itemList hr {
  margin-top: 15px;
  margin-bottom: 30px;
  border: 0;
  border-top: 1px solid #000; }
.itemList h3 span {
  color: #aaa;
  font-weight: 100; }

.item {
  margin-bottom: 10px; }
  .item .itemContent {
    padding: 10px; }
  .item .addToCartButton {
    display: none;
    background-color: #eee;
    color: #777;
    border: 1px solid #eee;
    border-radius: 0;
    height: 40px;
    font-size: 1.1em; }
    .item .addToCartButton .glyphicon {
      font-size: 14px;
      margin-right: 3px;
      left: -1px; }
  .item:hover {
    border: 1px solid #b5b5b5;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24); }
  .item:hover .addToCartButton {
    display: inline; }

.itemType {
  color: #aaa; }

.priceTag {
  padding-top: 15px; }

.itemPanel {
  height: 250px;
  margin-bottom: 93px; }

/*===========Sidebar=============*/
.sidebar {
  position: relative;
  top: 40px; }

.temp {
  height: 200px;
  background-color: blue;
  margin-bottom: 12px; }
  .temp img {
    height: 100%;
    width: 100%; }

.currentCategory {
  font-weight: 500;
  color: #333; }

.list-group-item {
  border: none; }

.list-group > .list-group > .list-group-item {
  padding-left: 35px;
  padding-top: 0;
  color: #777;
  border: none; }
  .list-group > .list-group > .list-group-item:last-child {
    padding-bottom: 0; }

.quantity {
  color: #bbb;
  font-size: 11px; }

.accessories {
  padding-top: 0; }

/*============Cart============*/
.cart {
  margin-top: 40px;
  margin-bottom: 30px; }
  .cart .col-sm-9 {
    padding-right: 50px; }
    .cart .col-sm-9 > hr {
      border-top: 1px solid #000; }

.well {
  margin-top: 25px; }

.checkoutButton {
  box-shadow: inset 0 -3px 0 0 #235581; }

.cartItem {
  padding: 10px 10px 20px 20px;
  border-bottom: 1px solid #eee; }
  .cartItem .cartDeleteButton {
    border: 1px solid #777;
    color: #777;
    position: relative;
    margin: 0 20px 10px;
    text-align: right; }
    .cartItem .cartDeleteButton:hover {
      border: 1px solid black;
      color: black;
      background-color: white;
      transition: all .4s; }

.cartItemImage {
  height: 100px; }

.pull-right {
  height: 100%;
  text-align: right; }

/*============Footer============*/
footer {
  background-color: #f1f1f1;
  padding: 6rem 8rem 3rem; }
  footer h6 {
    padding-left: 8px;
    padding-bottom: 10px;
    margin-bottom: 0; }
  footer img {
    text-align: center; }

.footerHeader {
  text-transform: uppercase;
  font-weight: bolder;
  letter-spacing: 1.5px; }

ul {
  padding-left: 8px; }
  ul li {
    list-style-type: none;
    padding-bottom: 5px;
    color: #888888;
    cursor: pointer; }
    ul li:hover {
      color: #333;
      transition: .3s; }

.fa {
  font-size: 1.4em;
  margin: 5px;
  padding: 12px;
  border-radius: 50%;
  color: #aaa; }
  .fa:hover {
    color: #333;
    transition: .3s; }
  .fa:first-child {
    padding-left: 1px; }

.socialMediaBar {
  padding: 0; }
  .socialMediaBar li {
    display: inline; }

.paymentBadgeContainer {
  position: relative;
  left: 6px; }
  .paymentBadgeContainer i {
    font-size: 3em;
    padding-top: 0;
    padding-bottom: 0; }

.storeBadgeContainer {
  position: relative;
  top: -30px;
  left: 7px; }
  .storeBadgeContainer .storeBadge {
    height: 108px;
    width: 108px;
    padding: 0; }
  .storeBadgeContainer .google {
    position: relative;
    left: -30px; }

/*# sourceMappingURL=App.css.map */
